* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}